@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Outfit;
}
#root{
   min-height: 100vh;
   display: flex;
   animation: fadeIn 1.5s;
}

.no-scrollbar::-webkit-scrollbar {
   display: none; /* For Chrome, Safari, and Edge */
 }

 .loader hr{
   animation: loader 3s infinite linear;

 }
 .sidebar .recent{
   animation:fadeIn 1.5s;
 }

 @keyframes loader{
   0%{
      background-position: -800px 0px;
   }
   100%{
      background-position: 800px 0px;
   }
 }

 @keyframes fadeIn{
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
 }

 @media (max-width:600px){
   .sidebar{
      display: none;
   }
 }